.footer {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(5, 5, 5, 0.44);
  height:80px;
  margin-top:auto;
}

.footer a {
  margin: 0 0.5rem;
}