.header {
    height: 114px;
    background: linear-gradient(90.31deg, #141527 8.95%, #141527 96.63%);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    display: flex;
    align-items: center;
}

.label>p, .label>a {
    margin: 0 0.5rem;
}

.button {
    padding: 1rem 3rem;
    background: linear-gradient(91.2deg, #6D56E4 1.47%, #A45DCC 66.44%, #D355D2 97.27%), #D9D9D9;
    border-radius: 10px;
    font-family: 'Gilroy', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    color: #FFFFFF;
}