.header {
    min-height: 90px;
    background: linear-gradient(90.31deg, #141527 8.95%, #141527 96.63%);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.labelContainer {
    display: flex;
    align-items: center;
}

.labelContainer>p, .labelContainer>a {
    margin: 0 0.5rem;
}