.tokenSelector {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: rgba(5, 5, 5, 0.44);
    border-radius: 10px;
    border-width: 0;
    height: 100px;
    padding: 0.5rem;
}

.chainName {
    color: #FFFFFF;
}

.blockchainName {
    color: #FFFFFF;
}

.tokenLabel {
    display: flex;
}