.small10 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-transform: lowercase;
}

.medium10 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
}

.medium12 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.medium14 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.medium16 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.bold14 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.bold16 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.bold18 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.bold20 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.bold26 {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}