.aboutContainer {
    padding: 33px 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutContent {
    overflow-y: scroll;
    padding-right: 0.5em;
}

.aboutText {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 150%;
    /* or 45px */

    text-transform: uppercase;

    color: #FFFFFF;
}

.aboutContent::-webkit-scrollbar {
    width: 0.5rem;
    padding-right: 5px;
}

.aboutContent::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}